In [1]:
#Import the libraries that will be used
import pandas as pd
import glob
import matplotlib.pyplot as plt

In [24]:
#set up the pathway for the fpc files
path = 'Data\\fpc_csv_files\\'

#Make a list of all the files in that pathway of type .csv
all_files = glob.glob(path + "/*.csv")

In [28]:
#Create an empty list to store all the dataframe
fish_list = []

#For loop to loop through all the files, load them into a dataframe, then cut of the last 2 "rows"
#The reason is the last two rows are just metadata  information, not numerical data.
#The third step is to pass this new dataframe into the dataframe list
for filename in all_files:
    df = pd.read_csv(filename, index_col=0, header=0)
    df2 = df[:-2]
    fish_list.append(df2)

In [43]:
#Next is to concat the list of dataframes
raw_fish_df = pd.concat(fish_list, axis=0, ignore_index=False)
dam_fish_df = raw_fish_df.reset_index()
dam_fish_df

,Dam,Year,ChinookAdult,ChinookJack,CohoAdult,CohoJack,Steelhead,UnclippedSteelhead,Sockeye,Pink,Chum,Lamprey,Shad
0,BON,1938,271799.0,0.0,15174.0,0.0,107003.0,0.0,75029.0,0.0,2114.0,0.0,0.0
1,BON,1939,286156.0,0.0,14383.0,0.0,121932.0,0.0,73382.0,0.0,1147.0,0.0,0.0
2,BON,1940,391573.0,0.0,11870.0,0.0,185161.0,0.0,148805.0,0.0,1729.0,0.0,0.0
3,BON,1941,461443.0,0.0,17911.0,0.0,118087.0,0.0,65741.0,4.0,5269.0,0.0,0.0
4,BON,1942,401998.0,0.0,12401.0,0.0,151395.0,0.0,55474.0,11.0,1865.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,WFA,2015,53979.0,3064.0,2651.0,923.0,8280.0,0.0,0.0,0.0,0.0,0.0,0.0
674,WFA,2016,31358.0,2383.0,2559.0,1991.0,27503.0,0.0,0.0,0.0,0.0,0.0,0.0
675,WFA,2017,37072.0,3018.0,3146.0,2782.0,2992.0,955.0,0.0,0.0,0.0,0.0,0.0
676,WFA,2018,27185.0,2334.0,2557.0,2806.0,11127.0,2401.0,0.0,0.0,0.0,0.0,0.0
677,WFA,2019,20353.0,2030.0,7454.0,1389.0,8549.0,3579.0,0.0,0.0,0.0,0.0,0.0

In [48]:
chinookAdult_df = dam_fish_df[['Year','Dam','ChinookAdult']]
chinookAdult_bon_df = chinookAdult_df[chinookAdult_df['Dam'] == 'BON']
chinookAdult_bon_df.head()

   Year  Dam  ChinookAdult
0  1938  BON      271799.0
1  1939  BON      286156.0
2  1940  BON      391573.0
3  1941  BON      461443.0
4  1942  BON      401998.0

In [21]:
testing_df = pd.read_csv(path + 'BON.csv')
testing2_df = pd.read_csv(path + 'IHR.csv')
#testing2_df.head()

In [22]:
testing_fixed_df = testing_df[:-2]
testing2_fixed_df = testing2_df[:-2]
#testing2_fixed_df.head()

In [32]:
testing_list = [testing_fixed_df,testing2_fixed_df]
testing_con_df = pd.concat(testing_list,axis=0,ignore_index=True)
#testing_con_df